
  
  .nominho{
    
      width: 100px;
      height: 10px;
      padding: 30px;
      font-size: 20px;
    }
    
    .title{
      height: 170px;
      padding: 50px;
    }
    
    nav{
      position: sticky;
      top: 0;
      z-index: 3;
    }
    
    header{
        background-color: #13293d;
        color: #e8f1f2;
        padding: 20px;
        margin-bottom: -5px;
        text-align: center;
        font-weight: bold;
        font-size: x-large;
      }
  
      header img{
        width: 35%;
      }
  
    
      footer{
        background-color: #13293d;
        border-top: 2px solid #e8f1f2;
        padding: 2%;
        color: #e8f1f2;
        display: flex;
        margin: 0;
      
      }
       
      footer li{
        list-style-type: none;
        display: flex;
      }
    
  
    .navegador-pgs{
      border-bottom: 2px solid #e8f1f2;
      background-color:#13293d;
      list-style-type: none;
      margin: 0;
      padding: 16px;
      overflow: hidden;
    }
    
    li {
      float: left;
    }
  
    .activec img{
      position: absolute;
      width: 30px;
      margin-left: -12px;
      margin-top: -6px;
    }
    
    
    /* ul input{
      float: center;
      margin-top: 8px;
      margin-right: 16px;
      font-size: 17px;
      border: none;
      cursor: pointer;
    } */
    
    li a {
      display: block;
      color: white;
      padding: 15px;
      text-decoration: none;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif
    }
    
    li a:hover:not(.active) {
      background-color: #1b98e0;
    }
    
    
   
    
      /* .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      } */
      
      /* .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      } */
      
      /* .prev:hover, .next:hover {
        background-color: white;
      } */
      
      /* .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      } */
      
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #050309;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #1b98e0;
      }
      #carrinho{
        padding: 13.4px;
        background:#1b98e0;
      }
      
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      @media only screen and (max-width: 600px) {
        .prev, .next,.text {font-size: 11px}
        .img-logo{
          width: 100%;
        }
      }
    
      :root {
        --surface-color: #fff;
        --curve: 40;
      }
      
      * {
        box-sizing: border-box;
      }
      .container{
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        border: 1px solid #13293d;
        border-radius: 0.75em;
        width: 50%;
        padding: 50px;
        background-color: #e8f1f2;
      }
      
       h2{
        text-align: center;
        color: #13293d;
      }   
      
      hr{
        border: 1px solid #13293d;
        margin-top: 4%;
        margin-bottom: 4%;
      }
      
      .input-field{
        width: 30%;
        margin-top: 6px;
        margin-bottom: 6px;
        padding: 10px;
        border: 1px solid #e8f1f2;
        border-bottom: 1px solid #13293d;
        border-radius: 0,75em;
      }
      
      .input-field:hover{
        background-color: #e8f1f2;
      }
      
