body{
   margin: 0%;
 background-color: #e7e7e7;
}

.nominho{
  
    width: 100px;
    height: 10px;
    padding: 30px;
    font-size: 20px;
  }
  
  .title{
    height: 170px;
    padding: 50px;
  }
  
  nav{
    position: sticky;
    top: 0;
    z-index: 3;
  }
  
  header{
      background-color: #13293d;
      color: #e8f1f2;
      padding: 20px;
      margin-bottom: -5px;
      text-align: center;
      font-weight: bold;
      font-size: x-large;
    }

    header img{
      width: 35%;
    }

  
    footer{
      background-color: #13293d;
      border-top: 2px solid #e8f1f2;
      padding: 2%;
      color: #e8f1f2;
      display: flex;
      margin: 0;
    
    }
     
    footer li{
      list-style-type: none;
      display: flex;
    }
  

  .navegador-pgs{
    border-bottom: 2px solid #e8f1f2;
    background-color:#13293d;
    list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
  }
  
  li {
    float: left;
  }

  .activec img{
    position: absolute;
    width: 30px;
    margin-left: -12px;
    margin-top: -6px;
  }
  
  
  /* ul input{
    float: center;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
  } */
  
  li a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
  }
  
  li a:hover:not(.active) {
    background-color: #1b98e0;
  }
  
  
 
  
    /* .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    } */
    
    /* .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    } */
    
    /* .prev:hover, .next:hover {
      background-color: white;
    } */
    
    /* .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    } */
    
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #050309;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #1b98e0;
    }
    #carrinho{
      padding: 13.4px;
      background:#1b98e0;
    }
    
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @media only screen and (max-width: 600px) {
      .prev, .next,.text {font-size: 11px}
      .img-logo{
        width: 100%;
      }
    }
  
    :root {
      --surface-color: #fff;
      --curve: 40;
    }
    
    * {
      box-sizing: border-box;
    }
    
   
    .escola{
      background-color: #fff;
      text-align: center;
      margin-right: 5%;
      margin-left: 5%;
      margin-top: 5%;
      margin-bottom: 1%;
      border-radius: 6px;
      
      width: 90%;
      display: flex;
      justify-content: center;
      font-family: monospace;
    }
    .cards {
      width: 100%;
      margin-left: 1%;
      margin-top: 1%;
      margin-bottom: 1%;
      text-align: center;
    }
    

    /* <-------------------------------------> IMAGENS PRODUTOS <-------------------------------------> */


    /* <--------> IMAGENS OUTLET <--------> */

    /* BALACLAVAS OUTLET */
    
      .escola #balaclava1{
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 40px;
        padding-right: 40px;
        margin-right: 55%;
        margin-left: 80%;
        margin-top: 1%;
        margin-bottom: 5%; 
        width: 200%;
      }
      .escola #balaclava2{
      margin-right: 30%;
      margin-left: 5%;
      margin-top: 1%;
      margin-bottom: 5%;
      width: 40%;
      }
      .escola #balaclava3{
      margin-right: 30%;
      margin-left: 5%;
      margin-top: 1%;
      margin-bottom: 5%; 
      width: 40%;
      }

      /* CONJUNTOS & JAQUETAS OUTLET */
      .escola #conjuntout1{
       margin-right: 30%;
       margin-left: 5%;
       margin-top: 1%;
       margin-bottom: 5%;
       width: 70%; 
      }

      .escola #conjuntout2{
      margin-right: 30%;
      margin-left: 5%;
      margin-top: 1%;
      margin-bottom: 5%;
      width: 60%;
      }

      .escola #jaquetaout{
      margin-right: 30%;
      margin-left: 5%;
      margin-top: 1%;
      margin-bottom: 5%;
      width: 60%;
      }

      /* CALÇAS E MACACAO OUTLET */
      .escola #calcaout1{
      margin-right: 30%;
      margin-left: 5%;
      margin-top: 1%;
      margin-bottom: 5%;
      width: 75%;
      }

      .escola #calcaout2{
      margin-right: 30%;
      margin-left: 5%;
      margin-top: 1%;
      margin-bottom: 5%;
      width: 45%;
      }

      .escola #macacaoout{
      margin-right: 30%;
      margin-left: 5%;
      margin-top: 1%;
      margin-bottom: 5%;
      width: 75%;
      }

      /* BOTAS OUTLET */

      .escola #botaout1{
        margin-right: 30%;
        margin-left: 5%;
        margin-top: 1%;
        margin-bottom: 5%;
        width: 50%;
        }

      .escola #botaout2{
        margin-right: 30%;
        margin-left: 5%;
        margin-top: 1%;
        margin-bottom: 5%;
        width: 50%;
        }

      .escola #botaout3{
        margin-right: 30%;
        margin-left: 5%;
        margin-top: 1%;
        margin-bottom: 5%;
        width: 60%;
      }

      /* <--------> IMAGENS CORRIDA <--------> */

      /* CAPACETES RACING */
       
      .escola #capaceteracing1{
        margin-right: 30%;
        margin-left: 5%;
        margin-top: 1%;
        margin-bottom: 5%;
        width: 60%;
      }
      .escola #capaceteracing3{
        margin-right: 30%;
        margin-left: 5%;
        margin-top: 1%;
        margin-bottom: 5%;
        width: 70%;
        
      }
        
      .escola #capaceteracing2{
        margin-right: 30%;
        margin-left: 5%;
        margin-top: 1%;
        margin-bottom: 5%;
        width: 60%;
        
      }

      /* MACACAO RACING */
      .escola #macacaoracing1{
        margin-right: 30%;
        margin-left: 5%;
        margin-top: 1%;
        margin-bottom: 5%;
        width: 65%;
        }

        .escola #macacaoracing2{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 65%;
          
        }
        
        .escola #macacaoracing3{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }

        /* LUVAS RACING */

        .escola #luvaracing1{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 55%;
          
        }
        .escola #luvaracing2{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 55%;
          
        }
        .escola #luvaracing3{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 65%;
          
        }

        /* SAPATILHAS RACING */

        .escola #sapatilharacing1{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 65%;
          
        }
        .escola #sapatilharacing2{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 65%;
          
        }
          
        .escola #sapatilharacing3{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }
         
        /* <--------> IMAGENS MOTO<--------> */

        /* CAPACETES MOTO */

        .escola #capacetemoto1{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }

        .escola #capacetemoto2{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }

        .escola #capacetemoto3{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }

        /* MACACAO MOTO */

        .escola #macacaomoto1{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 40%;
          
        }
        .escola #macacaomoto2{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }

        .escola #macacaomoto3{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 35%;
          
        }

        /* LUVAS MOTO */
 
        .escola #luvamoto1{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }
        .escola #luvamoto2{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }
        .escola #luvamoto3{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 60%;
          
        }

        /* BOTAS MOTO */

        .escola #botamoto1{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }
        .escola #botamoto2{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }
        .escola #botamoto3{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }

        /* <--------> IMAGENS MOTO<--------> */

        /* CAPACETES KART */

        .escola #capacetekart1{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 45%;
          
        }

        .escola #capacetekart2{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }
        .escola #capacetekart3{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }

        /* MACACAO KART */

        .escola #macacaokart1{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }
        .escola #macacaokart2{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 70%;
          
        }
        .escola #macacaokart3{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 70%;
          
        }

        /* LUVAS KART */

        .escola #luvakart1{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 60%;
          
        }
        .escola #luvakart2{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }
        .escola #luvakart3{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 70%;
          
        }

        /* SAPATILHAS KART */
        .escola #sapatilhakart1{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }
        .escola #sapatilhakart2{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }
        .escola #sapatilhakart3{
          margin-right: 30%;
          margin-left: 5%;
          margin-top: 1%;
          margin-bottom: 5%;
          width: 50%;
          
        }

    .nome-prod{
      font-size: 25.5px;
      text-align: left;
      font-family: 'calibri';
      margin-right: 25%;   
    }

    .preco-prod{
      font-family: 'calibri';
      padding: 15px;
      padding-left: 56%;
      border-radius: 0.5em;
      background-color: #e7e7e7;
      
    }

    .descrito{
      border: 1px solid #13293d;
      align-items: center;
      color: #13293d;
      width: 300%;
    /* border: 4px solid #1b98e0; */
    padding: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 35%;
    margin-right: 10%;
    
  
    display: flex;
    overflow: hidden;
    
    font-size: 30px;
    
  }
  #tamanho{
    width: 25%;
    font-size: large;
    color: white;
    background: #13293d;
    outline: none;
    border: 2px solid #1b98e0;
    border-radius: 0.60em;
    margin-left: 40%;
    cursor: pointer;
  }


  /* DESCRIÇAO */
  #titulo{
    color: #13293d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
      #desconto{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color:#13293d
   
      }
      #cor{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: orange;
        text-align: left;
      }
      /* select edição */
  #selecionar{
    font-family: 'Times New Roman', Times, serif;
    color: white;
   
  }
  #descricao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #13293d;
  }
  #conteudo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #13293d;
    line-height: 0,5%;
  }
  #butao{
    background-color: #e8f1f2;
    outline: none;
    border: 1px solid #13293d;
    border-radius: 0.75em;
    margin-top: 2px;
    cursor: pointer;
    margin-bottom: auto;
    width: 120px;
    padding: 12px;
    font-weight: bold;
    align-items: center;
}

#butao:hover{
  color: #13293d;
  background-color: #1b98e0;
}


    #adicionais{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      color: white;
    }
    .descricao{
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      color: white;
    }
  

    