body{
   margin: 0;
   font-family: arial;
   background-color: #1b98e0;
 }
 
 header{
   border-bottom: 2px solid #e8f1f2;
   background-color: #13293d;
   color: #e8f1f2;
   padding: 20px;
   text-align: center;
   font-weight: bold;
   font-size: x-large;
 }
 
 
 .container{
   margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
   border: 1px solid #13293d;
   border-radius: 0.75em;
   width: 50%;
   padding: 50px;
   background-color: #e8f1f2;
 }
 
 div h3{
   text-align: center;
   color: #13293d;
 }   
 
 hr{
   border: 1px solid #13293d;
   margin-top: 4%;
   margin-bottom: 4%;
 }
 
 .input-field{
   width: 90%;
   margin-top: 6px;
   margin-bottom: 6px;
   padding: 10px;
   border: 1px solid #e8f1f2;
   border-bottom: 1px solid #13293d;
   border-radius: 0,75em;
 }
 
 .input-field:hover{
   background-color: #e8f1f2;
 }
 
 label{
   margin-left: 10px;
   font-size: 4mm;
   color: #13293d;
 }
 
 .container img{
   position:absolute;
   width: 30px;
   height: 20px;
   margin-top: 16px;
   margin-left: 8px;
   cursor: pointer;
 }
 
 .button{
   text-align: center;
 }
 
 .btn-cadlog{
   width: 40%;
   padding: 6px;
   margin-top: 8px;
   font-weight: bold;
   border: 1px solid #247ba0;
   border-radius: 0.35em;
   background-color: #13293d;
   color: #e8f1f2;
   cursor: pointer;
 }
 
 .btn-cadlog:hover{
   background-color: #006494;
 }
 
 .cadlog{
   text-decoration: none;
   color: #13293d;
   font-weight: bold;
 }
 
 .cadlog:hover{
   color: #1b98e0;
   font-weight: bold;
 }
 
 footer{
   border-top: 2px solid #e8f1f2;
   background-color: #13293d;
   color: white;
   padding: 5%;
   text-align: center;
 }
 
 footer li{
   list-style-type: none;
   display: flex;
 }
 
 li a {
   display: block;
   color: white;
   /* text-align: left; */
   padding: 15px;
   text-decoration: none;
   font-weight: bold;
 }
 