body {
    margin: 0;
      background-color: #cacaca;
      
 }
    
    .title{
      height: 170px;
      padding: 50px;
    }
     
    nav{
      position: sticky;
      top: 0;
      z-index: 3;
    }
    
    .icon{
      display: none;
      width: 60%;
    }
    
     
     
    .activec img:hover{
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
    }
    
    
  
    
    
    
.navegador{
     
      border-bottom: 2px solid #e8f1f2;
      background-color:#13293d;
      list-style-type: none;
      margin: 0;
      padding: 16px;
      overflow: hidden;
     
    }
    
    .container{
        background-color: #fff;
      /* text-align: center; */
      margin-right: 5%;
      margin-left: 5%;
      margin-top: 5%;
      margin-bottom: 1%;
      width: 90%;
      
      display: flex;
      justify-content: center;
      
        
    }

    .cards {
        width: 50%;
        margin-left: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
        text-align: center;
        
      }

      .cards img{
          width: 50%;
      }

    .product{
        align-content: center;
        width: 100%;
        padding-bottom: 10%;
        
    }

    .h3-prod{
        color: #13293d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        margin-left: 2%;
        text-align: left;
        
        
    }

    .h3-valor{
        color: #13293d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        margin-left: 2%;
        text-align: left;
        background-color: #cacaca;
        border-radius: 0.1em;
        
        padding: 8px;
        width: 94%;
    }

    #tamanho{
        font-family: 'arial';
        font-size: 20px;
        background-color: #cacaca;
        margin-left: 42%;
        padding: 4px;
        border: none;
        border-radius: 0.4em;
        cursor: pointer;
    }

    .qtd{
      
      padding: 6px;
      margin-bottom: 1px;
      border-radius: 0.4em;
        font-family: arial;
        font-size: 20px;
        margin-left: 36%;
    }

    input{
    text-align: center;
    background-color: #cacaca;
    border: none;
    border-radius: 0.4em;
    font-family: arial;
    font-size: 30px;
    padding: 0px;
    padding-left: 2%;
    width: 8%;
    margin-left: 2%;
    margin-top: 0%;        
    }

    .button-1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        border: none;
        border-radius: 0.75em;
        font-size: 20px;
        background-color: #1b98e0;
        color: #e8f1f2;
        padding: 20px;
        margin-left: 20%;
        margin-top: 6%;
        margin-right: 5%;
        cursor: pointer;
    }

    .button-2{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        border: none;
        border-radius: 0.75em;
        font-size: 20px;
        background-color: #cacaca;
        color: #3483fa;
        padding: 20px;
        margin-left: 0%;
        margin-top: 6%;
        cursor: pointer;
    }

    .button-1:hover{
        background-color: #3483fa;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

    .button-2:hover{
        background-color: #cacaca;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    
    hr{
        height: 380px;
        
        border: 1px solid #13293d;
    }

    .hr-footer{
      height: 45px;
      border: 1px solid #e8f1f2;
    }

    .pag{
      margin-left: 4%;
      width: 30%;
      
    }

    .description{
      width: 90%;
      margin-right: 5%;
      margin-left: 5%;
      margin-top: -100px;
      margin-bottom: 1%;
      border-top: 2px solid #cacaca;
      background-color: #fff;
      padding-bottom: 3%;
    }

    .title-desc{
      font-family: arial;
      margin-left: 8px;
      color: #13293d;
    }

    .elements{
      font-family: arial;
      font-size: 20px;
      margin-left: 8px;
      
    }

    .element-master{
        font-weight: bold;
        font-family: arial;
        font-size: 20px;
        margin-left: 6%;
        
      
    }

    .element-master-1{
      font-weight: bold;
      font-family: arial;
      font-size: 20px;
      margin-left: 20%;
      
    
  }

  .sup{
    font-family: arial;
    margin-left: 2%;
  }

  .sup-link{
    font-family: arial;
    margin-left: 8px;
    text-decoration: none;
  }

  .sup-link:hover{
      color: #1b98e0;
  }

    


    
    
     
  
     
     
    header{
      background-color: #13293d;
      color: #e8f1f2;
      padding: 20px;
      margin-bottom: -5px;
      text-align: center;
      font-weight: bold;
      font-size: x-large;
      
    }
    
    header img{
      width: 35%;
    }
     
      
      
      .active, .dot:hover {
        background-color: #13293d;
       
      }
      .activec{
        background: #13293d;
        border-radius: 0.75em;
      }
    
      
    
      .activec img{
        position: absolute;
        width: 30px;
        margin-left: -12px;
        margin-top: -6px;
        
      }

      /* IMAGENS PRODUTOS */

     #conjunto1{
       width: 90%;
     }

     #conjunto2{
       width: 90%;
     }

     #jaqueta{
       width: 90%;
     }

     #calcaout1{
       width: 90%;
     }

     #calcaout2{
       width: 60%;
     }

     #macacaoout{
       width: 100%;
     }

     #botaout1{
      width: 90%;
     }

     #botaout2{
       width: 90%;
     }

     #botaout3{
      width: 100%;
     }

     #capaceteracing1{
       width: 90%;
     }

     #capaceteracing2{
       width: 100%;
     }

     #capaceteracing3{
       width: 100%;
     }

     #macacaoracing1{
       width: 95%;
     }

     #macacaoracing2{
       width: 95%;
     }

     #macacaoracing3{
      width: 70%;
     }

     #luvaracing1{
       width: 90%;
     }

     #luvaracing2{
       width: 70%;
     }

     #luvaracing3{
       width: 90%;
     }

     #sapatilharacing1{
       width: 90%;
     }

     #sapatilharacing2{
      width: 90%;
    }

    #sapatilharacing3{
      width: 80%;
    }

    #capacetemoto1{
      width: 90%;
    }

    #capacetemoto2{
      width: 90%;
    }

    #capacetemoto3{
      width: 80%;
    }

    #macacaomoto1{
      width: 55%;
      margin-top: -5%;
    }

    #macacaomoto2{
      width: 65%;
    }

    #luvamoto1{
      width: 75%;
    }
    
    #luvamoto2{
      width: 85%;
    }

    #luvamoto3{
      width: 100%;
    }

    #botamoto1{
      width: 80%;
    }

    #botamoto2{
      width: 90%;
    }

    #botamoto3{
      width: 80%
    }

    #capacetekart1{
      width: 85%;
    }

    #capacetekart2{
      width: 90%;
    }

    #capacetekart3{
      width: 85%;
    }

    #macacaokart1{
      width: 70%;
    }
    
    #macacaokart2{
      width: 95%;
    }

    #macacaokart3{
      width: 100%;
    }

    #luvakart1{
      width: 90%;
    }
    #luvakart2{
      width: 90%
    }
    #luvakart3{
      width: 90%
    }

    #sapatilhakart1{
      width: 90%
    }
    #sapatilhakart2{
      width: 90%
    }
    #sapatilhakart3{
      width: 100%
    }

    /* FOOTER */

    footer{
      background-color: #13293d;
      border-top: 2px solid #e8f1f2;
      padding: 2%;
      color: #e8f1f2;
      display: flex;
      margin-top: 10%;
    
    }
     
    footer li{
      list-style-type: none;
      display: flex;
    }

    ul input{
      float: center;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }

    .redes-master{
      width: 40px;
      margin-top: -15%;
      
      
    }
      
    .redes{
      margin-top: -20%;
      width: 40px;
    }
  
    .redes-master:hover{
      -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          transform: scale(0.8);
    }
  
    .redes:hover{
      -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          transform: scale(0.8);
    }

    li a {
      display: block;
      color: white;
      padding: 15px;
      text-decoration: none;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif
    }
    
    li a:hover:not(.active) {
      color: #1b98e0;
    }

    li {
      float: left;
    }
    .cadlog:hover{
      color: #1b98e0;
  
    }
    
    .cadlog-cl{
      margin-right: 6px;
    
    }
    
    .cadlog-cl:hover{
      color:  #1b98e0;
      padding: 16.6px;
      border-radius: 0.75em;
    }
     
   
   
    
  
   